<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Serialist</title>
</head>
<body>
<header th:fragment="header" class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">Serialist</a>
            <form action="/" method="post" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 ms-lg-auto">
                <input type="search" name="" id="" class="form-control form-control-dark" placeholder="Search...">
            </form>
            <div sec:authorize="isAnonymous()" class="text-end">
                <a href="/login" class="btn btn-outline-light me-2">Login</a>
                <a href="/signup" class="btn btn-warning">Sign-up</a>
            </div>
            <div sec:authorize="isAuthenticated()" class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="38" height="38" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small">
                    <li>
                        <a th:href="@{/user}" class="dropdown-item">Profile</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <form th:action="@{/logout}" method="post" class="dropdown-item">
                            <input type="submit" value="Sign out" style="background: transparent; border: none; padding: 0">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<footer th:fragment="footer" class="footer bg-dark text-white text-center p-3 w-100">
    Serialist
</footer>
<th:block th:fragment="scripts">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
</th:block>
</body>
</html>